<% css 'login' %>

<div id='login_link'>
  <fb:login-button onlogin="facebook_onlogin();"></fb:login-button>
</div>

<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    FB.init({appId: '133075676730741', status: true, cookie: true,
             xfbml: true});
  };
  (function() {
    var e = document.createElement('script'); e.async = true;
    e.src = document.location.protocol +
      '//connect.facebook.net/en_US/all.js';
    document.getElementById('fb-root').appendChild(e);
  }());
</script>
<script>
  function facebook_onlogin(){
    document.location.href = "<%= graph_url %>";
  }
</script>
