//= require <jquery/core>
//= require <jquery/ui>

$.ajaxSetup({error: error});

function error() {
  $('.ui-dialog-content').dialog('close');
  $('img.loading').remove();
  $('<p>Server Error... Please Try later</p>').dialog({
    modal:true,
    close: function() {
      $('.ui-dialog').remove();
    }
  });
}

$['small-ajax'] = "<%= escape_javascript image_tag('ajax-small.gif', 
    :class => 'loading') %>";
$['big-ajax'] = "<%= escape_javascript image_tag('ajax-big.gif', 
    :class => 'loading') %>";
$['huge-ajax'] = "<%= escape_javascript image_tag('ajax-huge.gif', 
    :class => 'loading') %>";
