//= require <jquery/core>
//= require <jquery/ui>

jQuery.ajaxSetup({error: error});

function error() {
  jQuery('.ui-dialog-content').dialog('close');
  jQuery('img.loading').remove();
  jQuery('<p>Server Error... Please Try later</p>').dialog({
    modal:true,
    close: function() {
      jQuery('.ui-dialog').remove();
    }
  });
}

jQuery['small-ajax'] = "<%= escape_javascript image_tag('ajax-small.gif',
    :class => 'loading') %>";
jQuery['big-ajax'] = "<%= escape_javascript image_tag('ajax-big.gif',
    :class => 'loading') %>";
jQuery['huge-ajax'] = "<%= escape_javascript image_tag('ajax-huge.gif',
    :class => 'loading') %>";
