@import "blueprint/typography";
@import "compass/css3";

body {
  @include blueprint-typography-body(12px);
/*  height: 100%;*/
}

#form {
  overflow: auto;
}

html {
  @include linear-gradient(color-stops(darken(#b5cdcf, 10%), white));
  background-repeat: repeat-x;
  height: 100%;
}

#load_image {
  margin: 0 auto;
  width: 100px;
  margin-top: 100px;
}

#wrapper {
  margin-top: 50px;
  overflow: auto;
  height: 500px;

  h1 {
    margin: 0 auto;
    text-align: center;
  }

  input[type=submit] {
    display: block;
    margin: 0 auto;
    width: 80px;
    height: 20px;

    margin-top: 200px;

    -webkit-appearance: button;
    -moz-appearance: button;
    padding: 0 8px;
    border: 1px solid #999;

    @include border-radius(2px);
    @include linear-gradient(color-stops(#fff, #ddd));
    @include scale(8);

    &:active {
      @include linear-gradient(color-stops(#ccc, #ddd));
    }
  }
}

#info {
  float: right;
  border: 1px solid black;
  padding: 20px;
  height: 200px;
  width: 300px;

  ul {
    list-style: none;
  }
}

#o3d {
  float: left;
}
