@import "compass/css3";

#login_link {
  text-align: center;
  display: block;
  margin: 0 auto;
  width: 500px;
  font-size: 50px;
  text-decoration: none;

  margin-top: 300px;

  span {
    @include scale(10, 10);
  }
}
