<% javascript 'rails', 'yui', 'similarity', 'choosefriends' %>

<div id="load_image">
  <%= image_tag 'ajax-loader.gif', :id => 'loading'  %>
</div>

<div id="wrapper" style="display:none">
  <input id="friends_input" type="text" />
</div>
