<% javascript 'rails', 'yui', 'similarity', 'choosefriends' %>

<div id="load_image">
	<%= image_tag 'load.gif', :id=>'loading'  %>

<div id="wrapper">
	<input id="friends_input" type="text" />
</div>

</div>
