<% javascript 'rails', 'yui', 'similarity', 'choosefriends' %>

<div id="load_image">
  <%= image_tag 'ajax-loader.gif', :id => 'loading'  %>
</div>

<div id="wrapper" style="opacity:0">
  <%= form_tag similarity_path, :remote => true, :method => 'put' do %>
    <div>
      <h1>Enter some friend names</h1>
      <%= text_field_tag 'friends_input', params[:q], :id => 'friends_input' %>
      <%= submit_tag 'Make Fancy', :disable_with => 'Submitting' %>
    </div>
  <% end %>
</div>
