<% javascript 'rails', 'yui', 'similarity', 'choosefriends' %>

<div id="load_image">
  <%= image_tag 'ajax-loader.gif', :id => 'loading'  %>
</div>

<div id="wrapper" style="display:none">
  <%= form_tag similarity_path, :remote => true do %>
    <div>
      <%= text_field_tag 'friends_input', params[:q], :id => 'friends_input' %>
      <%= submit_tag 'Submit' %>
  <% end %>
</div>
