<% javascript 'rails', 'yui', 'similarity' %>

<h1>Home page</h1>

<%= form_tag similarity_path, :method => 'put', :remote => true, :id => 'form' do %>
  <div>
    <%= text_area_tag :q %>
    <%= submit_tag 'Get Similarity', :disable_with => 'Fetching...' %>
  </div>
<% end %>
